body {
		background-image: url(../images/bg.jpg);
		margin: 25px;
		font-family: 'Ultra', serif;
}
h1 {
	color: black;
	font-family: 'Cardo', serif;
	font-size: 25px;
	shape-image-threshold: 
	font-weight: lighter;
	margin-bottom: 0;
}
h2 {
	color: black;
	opacity: 0.7px;
	font-size: 25px;
	margin-top: 0;
	font-family: 'Cardo', serif;

}

.bio {
	background-color: #FFDAB9 ;
	opacity: 0.3px;
	font-family: 'Cardo', serif;
	border: 15px #b47b31;
	outline: 10px double #785221;
	padding: 25px;
	margin: 25px;
}

.me {
	height: 300px;
	border-radius: 100%;
	border-style: solid;
	border-color: #FFDAB9;
	margin-top: 40px;

}


#container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}